.DS_Store

# Directories
infrastructure
log/containers
log/pods
log/*.log

# Config
config.yaml
config.yaml.bak
env.sh
venv

# Archive
archive
tmas

# Terraform
.terraform*
terraform.tfstate*
*-key-pair*
terraform.tfvars
.pluralith

# Terraform
0-files-park
files-park
TMServerAgent_Windows_auto_64_Server_-_Workload_Protection_Manager.zip
TMServerAgent_Linux_auto_64_Server_-_Workload_Protection_Manager.tar
0-files-sd
3-instances-sd
8-cluster-eks-deployments-repo
9-cluster-ecs-services-repo
9-cluster-ecs-services

# Files
atomic_launcher_linux_1.0.0.1009.zip
atomic_launcher_windows_1.0.0.1013.zip
TMServerAgent_Linux.tar
TMServerAgent_Windows.zip
.pgo.nw.lock
.pgo.ec2.lock
.pgo.eks-ec2.lock
.pgo.eks-fg.lock
.pgo.scenarios-ec2.lock
.pgo.scenarios-fg.lock
.pgo.ecs.lock
.pgo.dsm.lock
.pgo.aks.lock
overrides.yaml
dsm.properties

# Exploits
exploits
exploits-archive
v1demo
temp
.ecsfg

# Workdir
workdir*

# In development
4-cluster-eks-redesign
9-deep-security-bastion
awsone/9-deep-security/dsm/apikey
awsone/9-deep-security/cookie.txt
azone/4-cluster-aks/kubeconfig
.pgo.kind.lock
pgoc
