.DS_Store

# Directories
infrastructure
log/containers
log/pods
log/*.log

# Config
config.yaml
config.yaml.bak
env.sh
venv

# Archive
archive

# Terraform
.terraform*
terraform.tfstate*
*-key-pair*
terraform.tfvars
.pluralith

# Terraform
0-files-park
TMServerAgent_Windows_auto_64_Server_-_Workload_Protection_Manager.zip
TMServerAgent_Linux_auto_64_Server_-_Workload_Protection_Manager.tar
0-files-sd
3-instances-sd
8-cluster-eks-deployments-repo
9-cluster-ecs-services-repo
9-cluster-ecs-services

# Files
atomic_launcher_linux_1.0.0.1009.zip
atomic_launcher_windows_1.0.0.1013.zip
TMServerAgent_Linux.tar
TMServerAgent_Windows.zip
.pgo.ec2.lock
.pgo.eks.lock
.pgo.scenarios.lock
.pgo.ecs.lock
overrides.yaml

# Exploits
exploits
exploits-archive
