# Default values for Playground One.
# This is a YAML-formatted file.
services:
  - name: aws
    ## The account id of your AWS account
    ## 
    ## Default value: ''
    account_id: ''

    ## The default AWS region to use
    ## 
    ## Default value: "eu-central-1"
    region: ''

    ## The default AWS environment name to use
    ## 
    ## IMPORTANT: The value MUST NOT be longer than 15 characters
    ##
    ## Default value: "playground-one"
    environment: ''
    ##        max ############### 15 characters

  - name: awsone
    ## Restrict access to AWS One
    ## 
    ## To define multipe IPs/CIDRs do something like
    ## ["87.170.6.193/32","3.123.18.11/32"]
    ##
    ## Default value: ["0.0.0.0/0"]
    access_ip: ''

    instances:
      ## Create Linux instance(s)
      ## 
      ## Default value: true
      create_linux: true

      ## Create Windows instance(s)
      ## 
      ## Default value: true
      create_windows: true

    cluster-eks:
      ## Create Fargate Profile
      ## 
      ## Default value: true
      create_fargate_profile : true

    cluster-ecs:
      ## Create ECS Cluster with EC2
      ## 
      ## Default value: true
      create_ec2: true

      ## Create ECS Cluster with Fargate
      ## 
      ## Default value: true
      create_fargate: true
      
  - name: cloudone
    ## Cloud One region to work with
    ## 
    ## Default value: trend-us-1
    region: ''

    ## Cloud One instance to use
    ##
    ## Allowed values: cloudone, staging-cloudone, dev-cloudone
    ## 
    ## Default value: cloudone
    instance: ''

    ## Cloud One API Key with Full Access
    ## 
    ## REQUIRED if you want to play with Cloud One
    ##
    ## Default value: ''
    api_key: ''

  - name: container_security
    ## The id of the policy for use with AWSONE
    ## 
    ## Default value: ''
    policy_id: ''

  - name: workload-security
    ## Cloud One Workload Security Tenant ID
    ## 
    ## REQUIRED if you want to play with Cloud One Workload Security
    ##
    ## Default value: ''
    ws_tenant_id: ''

    ## Cloud One Workload Security Token
    ## 
    ## REQUIRED if you want to play with Cloud One Workload Security
    ##
    ## Default value: ''
    ws_token: ''

    ## Cloud One Workload Security Linux Policy ID
    ## 
    ## REQUIRED if you want to play with Cloud One Workload Security
    ##
    ## Default value: 0
    ws_policy_id: 0
